<div class="title">
    <h1>Ver Mascota</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>DRACO</mat-card-title>
        <mat-card-content>
            <P><strong>Edad:</strong>2 AÑOS</P>
            <P><strong>Raza:</strong>PITBULL</P>
            <P><strong>color:</strong>ATIGRADO</P>
            <P><strong>Peso:</strong>38</P>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listarmascota" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>