<div class="title">
    <h1>Ver Mascota</h1>
</div>
<!--<div *ngIf="mascota$ | async as mascota" class="container"></div>-->
<div *ngIf="mascota != null" class="container">
    <mat-card class="card">
       <!-- {{mascota | json}}-->
        <mat-card-title>{{mascota.nombre}}</mat-card-title>
        <mat-card-content>
            <P><strong>Edad:</strong>{{mascota.edad}}</P>
            <P><strong>Raza:</strong>{{mascota.raza}}</P>
            <P><strong>color:</strong>{{mascota.color}}</P>
            <P><strong>Peso:</strong>{{mascota.peso}}</P>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listarmascota" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>